.output-signal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.axis path,
.axis line {
  stroke: rgb(218, 82, 63)
}
.axis text {
  font-size: 14px;
  fill: rgb(218, 82, 63)
}
.input {
  width: 100vw;
  display: flex;
  justify-content: space-around
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}